.jumbotron {
  padding-top: 6rem;
  background-color: #a2d9ff;
}

#about {
  background-color: #ffffff;
}
#Projects {
  padding-top: 6rem;
  background-color: #a2d9ff;
}
#Contact {
  background-color: #ffffff;
}

section {
  padding-top: 5rem;
}
